body{
  text-align: center;
  color: white;
  background-image:url('../../assets/images/chalk.jpg');
 	background-size:cover repeat;
}


/* .mainContainer{
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.leftContainer{
  text-align: left;
  float: left;
  width: 50%;
  height: auto;
}

.rightContainer{
  text-align: left;
  float: left;
  width: 50%;
  height: auto;
}

.bottomContainer{
  float: right;
  width: 100%;
}

.change-devoured {
  float: right;
}

.delete-burger{
  float: right;
} */

ol> li {
  padding: 10px;
  margin: 10px;
  background: white;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
